<configuration>
    <property name="LOG_DIR" value="logs"/>
    <property name="LOG_FILE" value="application"/>
    <property name="LOG_PATH" value="${LOG_DIR}/${LOG_FILE}"/>
    <property name="FILE_PATTERN"
              value="%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{10}.%M - %msg%n"/>
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover and for files with size bigger than 5MB - collect up to 1GB for 7 days -->
            <fileNamePattern>${LOG_PATH}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>5MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <springProfile name="!prod">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="WARN">
            <appender-ref ref="ROLLING_FILE"/>
        </root>
        <logger name="com.task" level="INFO"/>
    </springProfile>
</configuration>